.app {
  width: 90vw;
  margin: 0 auto;
}
.name {
  color: #fff;
  font-size: 36px;
}
.movie__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.movie__main-img{
  width: 223px;
  border-radius: 3px;
}
.movie__main-no-img {
  background: #fff;
  width: 223px;
  height: 334px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 3px;
}
.movie__wrapper-content {
  min-height: 500px;
  width: 90vw;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
}
.movie__wrapper-content-text {
  width: 70%;
  padding: 120px;
  margin: 10px auto;
}
.movie__wrapper-content-title {
  color: #fff;
  font-size: 34px;
}
.movie__wrapper-content-intro {
  color: #fff;
  font-size: 18px;
}

@media (max-width: 880px) {
  .movie__wrapper-content-text {
    width: 90%;
    padding: 32px;
  }
  .movie__main-img{
    width: 160px;
  }
}